In [2]:
import pandas as pd
data = [1,2,3,9,5,6,7,8,9,10]
series =  pd.Series(data)
series.head(10)
# type(series)

0     1
1     2
2     3
3     9
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [68]:
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
series2 = pd.Series(data, index = index)
series2.head(10)

a     1
b     2
c     3
d     9
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [3]:
data2 = {'a': 10, 'b': 20, 'c': 30}
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

__________________________________________________
**Hands on practice**:
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

_depending on where you are viewing this notebook you are either to download it or make a copy._
________________________________________________

In [6]:
# Task 1
bucket_list = ['swimming', 'ski-ing', 'basejumping', 'grafitti', 'skatinf', 'para-sailing']
index = [i[0] for i in bucket_list] # Using first letter of each
pd_series = pd.Series(bucket_list, index)
pd_series.head(6)

s        swimming
s         ski-ing
b     basejumping
g        grafitti
s         skatinf
p    para-sailing
dtype: object

In [7]:
# Task 2
biodata = {
    'name': 'Samuel Dasaolu', 
    'age': 17, 
    'class': '500L', 
    'height': 1.8, 
    'gender': 'male', 
}

pd_series = pd.Series(biodata)
pd_series.head()

name      Samuel Dasaolu
age                   17
class               500L
height               1.8
gender              male
dtype: object

In [ ]:
import pandas as pd

data = { # Dictionary of lists
    'Name': ['Chris', 'Ayo', 'Chisom'],
    'Age': [26, 24, 22],
    'Home_Town': ['Benin', 'Ibadan', 'Enugu']
}

# Creating Dataframes
df = pd.DataFrame(data)
df.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [8]:

data2 = [ # list of dictionaries
    {'Name': 'Chris', 'Age': 26, 'Home_Town': 'Benin'},
    {'Name': 'Ayo', 'Age': 24, 'Home_Town': 'Ibadan'},
    {'Name': 'Chisom', 'Age': 22, 'Home_Town': 'Enugu'}
]
df2 = pd.DataFrame(data2)
df2.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [9]:
data3 = [ # List of lists
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]
df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'])
df3.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [ ]:
# lets print the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>

pandas.core.frame.DataFrame