In [2]:
import pandas as pd
data = [1,2,3,9,5,6,7,8,9,10]
series =  pd.Series(data)
series.head(10)
# type(series)

0     1
1     2
2     3
3     9
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [68]:
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
series2 = pd.Series(data, index = index)
series2.head(10)

a     1
b     2
c     3
d     9
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [3]:
data2 = {'a': 10, 'b': 20, 'c': 30}
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

__________________________________________________
**Hands on practice**:
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

_depending on where you are viewing this notebook you are either to download it or make a copy._
________________________________________________

In [6]:
# Task 1
bucket_list = ['swimming', 'ski-ing', 'basejumping', 'grafitti', 'skatinf', 'para-sailing']
index = [i[0] for i in bucket_list] # Using first letter of each
pd_series = pd.Series(bucket_list, index)
pd_series.head(6)

s        swimming
s         ski-ing
b     basejumping
g        grafitti
s         skatinf
p    para-sailing
dtype: object

In [7]:
# Task 2
biodata = {
    'name': 'Samuel Dasaolu', 
    'age': 17, 
    'class': '500L', 
    'height': 1.8, 
    'gender': 'male', 
}

pd_series = pd.Series(biodata)
pd_series.head()

name      Samuel Dasaolu
age                   17
class               500L
height               1.8
gender              male
dtype: object

In [ ]:
import pandas as pd

data = { # Dictionary of lists
    'Name': ['Chris', 'Ayo', 'Chisom'],
    'Age': [26, 24, 22],
    'Home_Town': ['Benin', 'Ibadan', 'Enugu']
}

# Creating Dataframes
df = pd.DataFrame(data)
df.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [8]:

data2 = [ # list of dictionaries
    {'Name': 'Chris', 'Age': 26, 'Home_Town': 'Benin'},
    {'Name': 'Ayo', 'Age': 24, 'Home_Town': 'Ibadan'},
    {'Name': 'Chisom', 'Age': 22, 'Home_Town': 'Enugu'}
]
df2 = pd.DataFrame(data2)
df2.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [9]:
data3 = [ # List of lists
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]
df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'])
df3.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [ ]:
# lets print the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>

pandas.core.frame.DataFrame

**Hands on practice**

* **Creating a dataset:**

Lets create a google sheet, make the link accessible to everyone to input the following information First_Name, Last_Name, Gender, Seat_No, City, Course_Track, PC_make, PC_Os, and Feedback.

At the end of the collection, we will use the data to practice data manipulation.
---

In [153]:
from pathlib import Path
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000000)

filepath = Path('bio-data.csv')
 
df = pd.read_csv(filepath)
df.head()

                      Timestamp First Name    Last Name Course Track      City  Gender Seat Number  PC-Make  PC - OS                                Feedback
0  2025/09/11 12:55:34 PM GMT+1      Peter          NaN           AI      Ogun    Male          28  MACBOOK   Mac OS                                     non
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa           AI  Abeokuta  Female          24       HP  Windows                               Excellent
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa           AI     Lagos  Female          22       HP  Windows  Thank you so much for the opportunity.
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed           AI  Abeokuta    Male          44       HP  Windows                            Amazing Shit
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi           AI  Abeokuta    Male          35     DELL  Windows                           Brain Racking

In [151]:
df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'], dtype='object')

In [155]:
# df.isna().sum()
# df.fillna(value='Empty')
# df.Timestamp
# df.dropna()
df['Last Name'].isna()

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
Name: Last Name, dtype: bool

In [ ]:
df.dtypes
df.astype('str')
pd.to_datetime(df.Timestamp)
# df.Timestamp

C:\Users\NCC100\AppData\Local\Temp\ipykernel_8412\2224380025.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df.Timestamp)

0     2025/09/11 12:55:34 PM GMT+1
1     2025/09/11 12:56:11 PM GMT+1
2     2025/09/11 12:57:08 PM GMT+1
3     2025/09/11 12:57:56 PM GMT+1
4     2025/09/11 12:58:41 PM GMT+1
5     2025/09/11 12:58:55 PM GMT+1
6     2025/09/11 12:58:55 PM GMT+1
7     2025/09/11 12:59:00 PM GMT+1
8     2025/09/11 12:59:16 PM GMT+1
9     2025/09/11 12:59:28 PM GMT+1
10    2025/09/11 12:59:41 PM GMT+1
11    2025/09/11 12:59:43 PM GMT+1
12     2025/09/11 1:00:03 PM GMT+1
13     2025/09/11 1:00:13 PM GMT+1
14     2025/09/11 1:00:27 PM GMT+1
15     2025/09/11 1:00:31 PM GMT+1
16     2025/09/11 1:00:43 PM GMT+1
17     2025/09/11 1:00:49 PM GMT+1
18     2025/09/11 1:00:54 PM GMT+1
19     2025/09/11 1:01:31 PM GMT+1
20     2025/09/11 1:01:44 PM GMT+1
21     2025/09/11 1:01:46 PM GMT+1
22     2025/09/11 1:01:54 PM GMT+1
23     2025/09/11 1:02:28 PM GMT+1
24     2025/09/11 1:02:49 PM GMT+1
25     2025/09/11 1:02:56 PM GMT+1
26     2025/09/11 1:02:59 PM GMT+1
27     2025/09/11 1:03:12 PM GMT+1
28     2025/09/11 1:03:36 PM GMT+1
29     2025/09/11 1:06:03 PM GMT+1
30     2025/09/11 1:06:48 PM GMT+1
31     2025/09/11 1:10:16 PM GMT+1
32     2025/09/11 1:11:39 PM GMT+1
33     2025/09/11 1:18:15 PM GMT+1
Name: Timestamp, dtype: object