In [1]:
import pandas as pd
data = [1,2,3,9,5,6,7,8,9,10]
series =  pd.Series(data)
series.head(10)
# type(series)

0     1
1     2
2     3
3     9
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [2]:
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
series2 = pd.Series(data, index = index)
series2.head(10)

a     1
b     2
c     3
d     9
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [3]:
data2 = {'a': 10, 'b': 20, 'c': 30}
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

__________________________________________________
**Hands on practice**:
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

_depending on where you are viewing this notebook you are either to download it or make a copy._
________________________________________________

In [4]:
# Task 1
bucket_list = ['swimming', 'ski-ing', 'basejumping', 'grafitti', 'skatinf', 'para-sailing']
index = [i[0] for i in bucket_list] # Using first letter of each
pd_series = pd.Series(bucket_list, index)
pd_series.head(6)

s        swimming
s         ski-ing
b     basejumping
g        grafitti
s         skatinf
p    para-sailing
dtype: object

In [5]:
# Task 2
biodata = {
    'name': 'Samuel Dasaolu', 
    'age': 17, 
    'class': '500L', 
    'height': 1.8, 
    'gender': 'male', 
}

pd_series = pd.Series(biodata)
pd_series.head()

name      Samuel Dasaolu
age                   17
class               500L
height               1.8
gender              male
dtype: object

In [6]:
import pandas as pd

data = { # Dictionary of lists
    'Name': ['Chris', 'Ayo', 'Chisom'],
    'Age': [26, 24, 22],
    'Home_Town': ['Benin', 'Ibadan', 'Enugu']
}

# Creating Dataframes
df = pd.DataFrame(data)
df.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [7]:

data2 = [ # list of dictionaries
    {'Name': 'Chris', 'Age': 26, 'Home_Town': 'Benin'},
    {'Name': 'Ayo', 'Age': 24, 'Home_Town': 'Ibadan'},
    {'Name': 'Chisom', 'Age': 22, 'Home_Town': 'Enugu'}
]
df2 = pd.DataFrame(data2)
df2.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [8]:
data3 = [ # List of lists
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]
df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'])
df3.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [9]:
# lets print the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**Hands on practice**

* **Creating a dataset:**

Lets create a google sheet, make the link accessible to everyone to input the following information First_Name, Last_Name, Gender, Seat_No, City, Course_Track, PC_make, PC_Os, and Feedback.

At the end of the collection, we will use the data to practice data manipulation.
---

In [11]:
from pathlib import Path
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000000)

filepath = Path('bio-data.csv')
 
df = pd.read_csv(filepath)
df.head()

                      Timestamp First Name    Last Name Course Track      City  Gender Seat Number  PC-Make  PC - OS                                Feedback
0  2025/09/11 12:55:34 PM GMT+1      Peter          NaN           AI      Ogun    Male          28  MACBOOK   Mac OS                                     non
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa           AI  Abeokuta  Female          24       HP  Windows                               Excellent
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa           AI     Lagos  Female          22       HP  Windows  Thank you so much for the opportunity.
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed           AI  Abeokuta    Male          44       HP  Windows                            Amazing Shit
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi           AI  Abeokuta    Male          35     DELL  Windows                           Brain Racking

In [12]:
df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'], dtype='object')

In [13]:
# df.isna().sum()
# df.fillna(value='Empty')
# df.Timestamp
# df.dropna()
df['Last Name'].isna()

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
Name: Last Name, dtype: bool

In [14]:
df.dtypes
df.astype('str')
pd.to_datetime(df.Timestamp)
# df.Timestamp

C:\Users\NCC100\AppData\Local\Temp\ipykernel_14452\307698913.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df.Timestamp)

0    2025-09-11 12:55:34-01:00
1    2025-09-11 12:56:11-01:00
2    2025-09-11 12:57:08-01:00
3    2025-09-11 12:57:56-01:00
4    2025-09-11 12:58:41-01:00
5    2025-09-11 12:58:55-01:00
6    2025-09-11 12:58:55-01:00
7    2025-09-11 12:59:00-01:00
8    2025-09-11 12:59:16-01:00
9    2025-09-11 12:59:28-01:00
10   2025-09-11 12:59:41-01:00
11   2025-09-11 12:59:43-01:00
12   2025-09-11 13:00:03-01:00
13   2025-09-11 13:00:13-01:00
14   2025-09-11 13:00:27-01:00
15   2025-09-11 13:00:31-01:00
16   2025-09-11 13:00:43-01:00
17   2025-09-11 13:00:49-01:00
18   2025-09-11 13:00:54-01:00
19   2025-09-11 13:01:31-01:00
20   2025-09-11 13:01:44-01:00
21   2025-09-11 13:01:46-01:00
22   2025-09-11 13:01:54-01:00
23   2025-09-11 13:02:28-01:00
24   2025-09-11 13:02:49-01:00
25   2025-09-11 13:02:56-01:00
26   2025-09-11 13:02:59-01:00
27   2025-09-11 13:03:12-01:00
28   2025-09-11 13:03:36-01:00
29   2025-09-11 13:06:03-01:00
30   2025-09-11 13:06:48-01:00
31   2025-09-11 13:10:16-01:00
32   2025-09-11 13:11:39-01:00
33   2025-09-11 13:18:15-01:00
Name: Timestamp, dtype: datetime64[ns, UTC-01:00]

In [15]:
df.fillna(value='Example').isna().sum()

# df.isna().sum()

Timestamp       0
First Name      0
Last Name       0
Course Track    0
City            0
Gender          0
Seat Number     0
PC-Make         0
PC - OS         0
Feedback        0
dtype: int64

In [16]:
df.columns
df[['Course Track', 'First Name', 'Last Name', 'City']]

                      Course Track     First Name    Last Name       City
0                               AI          Peter          NaN       Ogun
1                               AI       Toyeebat       Nababa   Abeokuta
2                               AI      Perpetual      Meninwa      Lagos
3                               AI         Mahfuz  Abdulhameed   Abeokuta
4                               AI         Divine    Gbadamosi   Abeokuta
5                               AI     Abdulmalik     Adedotun   Abeokuta
6                               AI       Naheemot      Adebiyi   Abeokuta
7                  AI;Data Science      Kanyisola      Fagbayi      Lagos
8                   Cyber Security       Blessing        James    Nairobi
9                               AI         Hannah     Tanimola   Abeokuta
10                 AI;Data Science        Deborah     Adelegan   Abeokuta
11                              AI         Esther       Kudoro   Abeokuta
12                 Cloud Computing        Opeyemi      Odejimi   Abeokuta
13                              AI    Olasunkanmi        Rasak     Kobape
14         AI;Data Science;Web Dev         Saheed     Olayinka   Abeokuta
15                 Cloud Computing       Kehinde      Akindele   Abeokuta
16                              AI        Oluwole      Oludayo   Abeokuta
17                         Web Dev         Samuel     Oyewusi       Lagos
18                              AI        Ademola    Akinrinde   Abeokuta
19                              AI         Victor    Ademuyiwa     kobape
20                              AI         Sherif  Okemakinde   Abeokuta
21                              AI          Ayuba         Raji   Abeokuta
22                              AI          Hamid        Jimoh     Ibadan
23                              AI        Olajide       Abioye   Abeokuta
24                              AI        Solomon       Olaiya   Abeokuta
25                              AI  Oluwadamilare        Bello      Sango
26                 Cloud Computing      Oluwaseyi     Egunjobi  Cape Town
27                              AI         Adeoye         Mary   abeokuta
28                              AI      Babatunde       Rahmon   Abeokuta
29                              AI         Samuel      Dasaolu   Abeokuta
30                              AI        Gabriel     Bamgbose   Abeokuta
31  AI;Cyber Security;Data Science    Ridwanullah         Osho   Abeokuta
32                         Web Dev    Oluwapelumi      Adenuga   Abeokuta
33                              AI        Michael      Osisami   Abeokuta

In [ ]:
df['First Name'][::9] #Can be used with slicing
df.at[9, 'First Name'] # Only retrieves a single element using column
df.iat[9, 1] # Only retrieves a single element using column index

'Hannah'

In [20]:
df.iloc[0: 5]
df.iloc[0:5, 0:]

                      Timestamp First Name    Last Name Course Track      City  Gender Seat Number  PC-Make  PC - OS                                Feedback
0  2025/09/11 12:55:34 PM GMT+1      Peter          NaN           AI      Ogun    Male          28  MACBOOK   Mac OS                                     non
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa           AI  Abeokuta  Female          24       HP  Windows                               Excellent
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa           AI     Lagos  Female          22       HP  Windows  Thank you so much for the opportunity.
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed           AI  Abeokuta    Male          44       HP  Windows                            Amazing Shit
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi           AI  Abeokuta    Male          35     DELL  Windows                           Brain Racking

In [37]:
males_only = df[df['Gender'].str.lower() == 'male']
females_only = df[df['Gender'].str.lower().str.startswith('f')]
females_only.head(1000)

                       Timestamp First Name Last Name     Course Track      City  Gender Seat Number PC-Make  PC - OS                                  Feedback
1   2025/09/11 12:56:11 PM GMT+1   Toyeebat    Nababa               AI  Abeokuta  Female          24      HP  Windows                                 Excellent
2   2025/09/11 12:57:08 PM GMT+1  Perpetual   Meninwa               AI     Lagos  Female          22      HP  Windows    Thank you so much for the opportunity.
6   2025/09/11 12:58:55 PM GMT+1   Naheemot   Adebiyi               AI  Abeokuta  Female          32    DELL  Windows  Grateful for the opportunity to be here.
7   2025/09/11 12:59:00 PM GMT+1  Kanyisola   Fagbayi  AI;Data Science     Lagos  Female       00082      HP  Windows       One chin chin for you for this form
8   2025/09/11 12:59:16 PM GMT+1   Blessing     James   Cyber Security   Nairobi  Female       45678      HP  Windows             Thanks for creating the form.
10  2025/09/11 12:59:41 PM GMT+1    Deborah  Adelegan  AI;Data Science  Abeokuta  Female         001      HP  Windows                              None for now
11  2025/09/11 12:59:43 PM GMT+1     Esther    Kudoro               AI  Abeokuta  Female           1      HP  Windows                                     Chill
27   2025/09/11 1:03:12 PM GMT+1     Adeoye      Mary               AI  abeokuta  Female          15  LENOVO  Windows                          Still processing

In [85]:
# Filter rows where City is 'Lagos' and Course_Track is 'Data Science'
filtered_cities = df[(df['City'].str.lower() == 'abeokuta') & (df['Course Track'].str.lower() == 'ai')]
filtered_cities

                       Timestamp  First Name    Last Name Course Track      City  Gender Seat Number     PC-Make  PC - OS                                           Feedback
1   2025/09/11 12:56:11 PM GMT+1    Toyeebat       Nababa           AI  Abeokuta  Female          24          HP  Windows                                          Excellent
3   2025/09/11 12:57:56 PM GMT+1      Mahfuz  Abdulhameed           AI  Abeokuta    Male          44          HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1      Divine    Gbadamosi           AI  Abeokuta    Male          35        DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1  Abdulmalik     Adedotun           AI  Abeokuta    Male         200          HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1    Naheemot      Adebiyi           AI  Abeokuta  Female          32        DELL  Windows           Grateful for the opportunity to be here.
9   2025/09/11 12:59:28 PM GMT+1      Hannah     Tanimola           AI  Abeokuta    Male          30          HP  Windows                                             On God
11  2025/09/11 12:59:43 PM GMT+1      Esther       Kudoro           AI  Abeokuta  Female           1          HP  Windows                                              Chill
16   2025/09/11 1:00:43 PM GMT+1     Oluwole      Oludayo           AI  Abeokuta    Male          09          HP  Windows                            Good training to attend
18   2025/09/11 1:00:54 PM GMT+1     Ademola    Akinrinde           AI  Abeokuta    Male         100     MACBOOK   Mac OS                                   Awesome shit\n\n
21   2025/09/11 1:01:46 PM GMT+1       Ayuba         Raji           AI  Abeokuta    Male          26          HP  Windows                                       None for now
23   2025/09/11 1:02:28 PM GMT+1     Olajide       Abioye           AI  Abeokuta    Male           5          HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1     Solomon       Olaiya           AI  Abeokuta    Male          16     MACBOOK   Mac OS                            Delighted learning here
27   2025/09/11 1:03:12 PM GMT+1      Adeoye         Mary           AI  abeokuta  Female          15      LENOVO  Windows                                   Still processing
28   2025/09/11 1:03:36 PM GMT+1   Babatunde       Rahmon           AI  Abeokuta    Male          20        none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1      Samuel      Dasaolu           AI  Abeokuta    Male         100  HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1     Gabriel     Bamgbose           AI  Abeokuta    Male           2          HP  Windows                                               Good
33   2025/09/11 1:18:15 PM GMT+1     Michael      Osisami           AI  Abeokuta    Male          12     DELL;HP  Windows                                                Nil

In [88]:
cities = ['lagos', 'abuja', 'abeokuta']
filtered_cities = df[df['City'].str.lower().isin(cities)]
filtered_cities

                       Timestamp   First Name    Last Name                    Course Track      City  Gender Seat Number     PC-Make  PC - OS                                           Feedback
1   2025/09/11 12:56:11 PM GMT+1     Toyeebat       Nababa                              AI  Abeokuta  Female          24          HP  Windows                                          Excellent
2   2025/09/11 12:57:08 PM GMT+1    Perpetual      Meninwa                              AI     Lagos  Female          22          HP  Windows             Thank you so much for the opportunity.
3   2025/09/11 12:57:56 PM GMT+1       Mahfuz  Abdulhameed                              AI  Abeokuta    Male          44          HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1       Divine    Gbadamosi                              AI  Abeokuta    Male          35        DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1   Abdulmalik     Adedotun                              AI  Abeokuta    Male         200          HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1     Naheemot      Adebiyi                              AI  Abeokuta  Female          32        DELL  Windows           Grateful for the opportunity to be here.
7   2025/09/11 12:59:00 PM GMT+1    Kanyisola      Fagbayi                 AI;Data Science     Lagos  Female       00082          HP  Windows                One chin chin for you for this form
9   2025/09/11 12:59:28 PM GMT+1       Hannah     Tanimola                              AI  Abeokuta    Male          30          HP  Windows                                             On God
10  2025/09/11 12:59:41 PM GMT+1      Deborah     Adelegan                 AI;Data Science  Abeokuta  Female         001          HP  Windows                                       None for now
11  2025/09/11 12:59:43 PM GMT+1       Esther       Kudoro                              AI  Abeokuta  Female           1          HP  Windows                                              Chill
12   2025/09/11 1:00:03 PM GMT+1      Opeyemi      Odejimi                 Cloud Computing  Abeokuta    Male          38          HP    Linux                                              Na wa
14   2025/09/11 1:00:27 PM GMT+1       Saheed     Olayinka         AI;Data Science;Web Dev  Abeokuta    Male          29          HP  Windows                                       None for now
15   2025/09/11 1:00:31 PM GMT+1     Kehinde      Akindele                 Cloud Computing  Abeokuta    Male          54     Gateway  Windows                                              Great
16   2025/09/11 1:00:43 PM GMT+1      Oluwole      Oludayo                              AI  Abeokuta    Male          09          HP  Windows                            Good training to attend
17   2025/09/11 1:00:49 PM GMT+1       Samuel     Oyewusi                          Web Dev     Lagos    Male          15          HP  Windows                                       Satisfactory
18   2025/09/11 1:00:54 PM GMT+1      Ademola    Akinrinde                              AI  Abeokuta    Male         100     MACBOOK   Mac OS                                   Awesome shit\n\n
21   2025/09/11 1:01:46 PM GMT+1        Ayuba         Raji                              AI  Abeokuta    Male          26          HP  Windows                                       None for now
23   2025/09/11 1:02:28 PM GMT+1      Olajide       Abioye                              AI  Abeokuta    Male           5          HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1      Solomon       Olaiya                              AI  Abeokuta    Male          16     MACBOOK   Mac OS                            Delighted learning here
27   2025/09/11 1:03:12 PM GMT+1       Adeoye         Mary                              AI  abeokuta  Female          15      LENOVO  Windows                                   Still processing
28   2025/09/11 1:03:36 PM GMT+1    Babatunde       Rahmon                              AI  Abeokuta    Male          20        none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1       Samuel      Dasaolu                              AI  Abeokuta    Male         100  HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1      Gabriel     Bamgbose                              AI  Abeokuta    Male           2          HP  Windows                                               Good
31   2025/09/11 1:10:16 PM GMT+1  Ridwanullah         Osho  AI;Cyber Security;Data Science  Abeokuta    Male          45        DELL  Windows                               IT IS WHAT IT IS !!!
32   2025/09/11 1:11:39 PM GMT+1  Oluwapelumi      Adenuga                         Web Dev  Abeokuta    Male          36          HP  Windows                                         live yours
33   2025/09/11 1:18:15 PM GMT+1      Michael      Osisami                              AI  Abeokuta    Male          12     DELL;HP  Windows                                                Nil

In [ ]:
# Use query() to Filter rows where City is 'Lagos' and Course_Track is 'Data Science'

filtered_data = df.query("")